In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import scipy as sc
import math
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [ ]:
df=pd.read_csv('drive/MyDrive/Colab Notebooks/MLPROJECTPHASE2/Train_withoutNUllValues.csv')

In [ ]:
df.head()

,Unnamed: 0,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,0,3424175,0,11053717,49.00,W,5033,269.0,150.0,mastercard,...,0.000000,49.000000,98.000000,98.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,1,3206179,0,5150800,57.95,W,4527,376.0,150.0,visa,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
2,2,3410455,0,10713596,115.95,W,2772,512.0,150.0,visa,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,107.949997,107.949997,107.949997
3,3,3058578,0,1611950,100.00,H,14290,512.0,150.0,visa,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,4,3242131,0,6111087,95.00,W,12839,321.0,150.0,visa,...,64.949997,23.950001,120.900002,72.949997,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace = True)

In [ ]:
c_features=df.select_dtypes(include=np.object).columns
n_features=df.select_dtypes(include=np.number).columns
print(len(c_features))
print(len(n_features))

9
211

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

In [ ]:
c_features

Index(['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4',
       'M6'],
      dtype='object')

In [ ]:
# df_C = df.loc[:,['isFraud','C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14']]
# cor_C  = df_C.corr()
# plt.figure(figsize=(20,10))
# sns.heatmap(df_C.corr(), 
#         xticklabels=df_C.columns,
#         yticklabels=df_C.columns,annot=True)

In [ ]:
# df = df.drop(columns= ['C2','C4','C6','C7','C8','C9','C10','C11','C12','C14'])

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# labelencoder = LabelEncoder()

# lst = ['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4','M6']
# for col in lst: 
#   df[col] = labelencoder.fit_transform(df[col])
# df.head()

In [ ]:
# df.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [ ]:
# df.isFraud.value_counts()

In [ ]:
# no_fraud = df[df.isFraud == 0]
# yes_fraud = df[df.isFraud == 1]

In [ ]:
# no_fraud_sample = no_fraud.sample(n = 15497)

In [ ]:
# newdf = pd.concat([no_fraud_sample, yes_fraud], axis=0)

In [ ]:
y_train=df['isFraud']
x_train=df.drop(columns = 'isFraud', axis = 1)

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train,X_test,y_train,y_test=train_test_split(df[df.columns[df.columns!="isFraud"]],df.isFraud,random_state=45,test_size=.2)

In [ ]:
# y_train.value_counts()

In [ ]:
# from imblearn.over_sampling import SMOTE
# smote = SMOTE(random_state = 101)
# X_train, Y_train = smote.fit_resample(x_train, y_train)

In [ ]:
# df2 = pd.DataFrame(x_train, columns = newdf.drop(columns=['isFraud']).columns)
# df2['isFraud'] = y_train

In [ ]:
# df2.isFraud.value_counts()

In [ ]:
xtrain_col = x_train.columns

In [ ]:
xtrain_col

Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=219)

Testing

In [ ]:
dftest=pd.read_csv('drive/MyDrive/Colab Notebooks/MLPROJECTPHASE2/test.csv')

In [ ]:
dftest = dftest[xtrain_col]

In [ ]:
dftest

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,3460689,12245831,325.000,W,12932,361.0,150.0,visa,226.0,debit,...,0.0,0.000000,0.000000,0.000000,325.0,325.0,325.0,0.0,0.0,0.0
1,3415050,10807203,37.257,C,14276,177.0,185.0,mastercard,137.0,credit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,3408682,10685267,100.000,R,16506,554.0,150.0,visa,226.0,credit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,3389297,10160809,57.950,W,9500,321.0,150.0,visa,226.0,debit,...,0.0,35.950001,35.950001,35.950001,0.0,0.0,0.0,0.0,0.0,0.0
4,3366334,9492365,34.258,C,15885,545.0,185.0,visa,138.0,debit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147630,3193088,4738133,3340.640,W,7676,512.0,150.0,visa,226.0,debit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
147631,3400907,10444920,171.000,W,2772,512.0,150.0,visa,226.0,debit,...,0.0,507.000000,507.000000,507.000000,0.0,0.0,0.0,0.0,0.0,0.0
147632,3489602,13181877,404.950,W,7919,194.0,150.0,mastercard,166.0,debit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
147633,3534022,14431969,35.950,W,11839,490.0,150.0,visa,226.0,debit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
147634,3039653,1227825,24.836,C,15885,545.0,185.0,visa,138.0,debit,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dftest.isna().sum()

TransactionID     0
TransactionDT     0
TransactionAmt    0
ProductCD         0
card1             0
                 ..
V317              7
V318              7
V319              7
V320              7
V321              7
Length: 219, dtype: int64

In [ ]:
n_features= dftest.select_dtypes(include=np.number).columns
c_features = dftest.select_dtypes(include=np.object).columns
print(len(c_features))
print(len(n_features))

9
210

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
temp_numerical = dftest[n_features]
temp_categorical = dftest[c_features]

In [ ]:
!pip install fancyimpute
import fancyimpute

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fancyimpute in /usr/local/lib/python3.7/dist-packages (0.7.0)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (3.6.4)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.2.2)
Requirement already satisfied: scikit-learn>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.0.2)
Requirement already satisfied: nose in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: knnimpute>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.7/dist-packages (from fancyimpute) (1.3.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.15.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.7/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.2.0)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.7/dist-packages (from cvxpy->fancyimpute) (2.0.10)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from cvxpy->fancyimpute) (0.6.2.post0)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.7/dist-packages (from cvxpy->fancyimpute) (3.2.2)
Requirement already satisfied: qdldl in /usr/local/lib/python3.7/dist-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.5.post2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (22.1.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (1.4.1)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (0.7.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (9.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (57.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->fancyimpute) (1.11.0)

In [ ]:
from sklearn.preprocessing import StandardScaler

MI=fancyimpute.IterativeImputer()
#fraud_column = temp_numerical['isFraud']
#temp_numerical=temp_numerical.drop(columns='isFraud')
#scaler = StandardScaler()
#scaled_temp_numerical = scaler.fit_transform(temp_numerical)
#df_num2 = pd.DataFrame(temp_numerical, columns=temp_numerical.columns, index=temp_numerical.index)
                       
df_temp_num = pd.DataFrame(data = MI.fit_transform(temp_numerical.values),columns=temp_numerical.columns, index=temp_numerical.index)

from google.colab import files
df_temp_num.to_csv(r'mice_num_test.csv')
files.download('mice_num_test.csv')

In [ ]:
# dftest.fillna(dftest.mean(), inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
dftest.isna().sum()

TransactionID     0
TransactionDT     0
TransactionAmt    0
ProductCD         0
card1             0
                 ..
V317              0
V318              0
V319              0
V320              0
V321              0
Length: 209, dtype: int64

In [ ]:
labelencoder = LabelEncoder()

lst = ['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4','M6']
for col in lst: 
  dftest[col] = labelencoder.fit_transform(dftest[col])
dftest.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V312,V313,V314,V315,V316,V317,V318,V319,V320,V321
0,3460689,12245831,325.000,4,12932,361.0,150.0,3,226.0,2,...,0.0,0.000000,0.000000,0.000000,325.0,325.0,325.0,0.0,0.0,0.0
1,3415050,10807203,37.257,0,14276,177.0,185.0,2,137.0,1,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,3408682,10685267,100.000,2,16506,554.0,150.0,3,226.0,1,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,3389297,10160809,57.950,4,9500,321.0,150.0,3,226.0,2,...,0.0,35.950001,35.950001,35.950001,0.0,0.0,0.0,0.0,0.0,0.0
4,3366334,9492365,34.258,0,15885,545.0,185.0,3,138.0,2,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

Implementing the Model

In [ ]:
# from sklearn.linear_model import LogisticRegression
# lg=LogisticRegression(max_iter = 1000)
# lg.fit(x_train,y_train)
# y_test=lg.predict(dftest)

In [ ]:
# from sklearn.naive_bayes import MultinomialNB
# gb=MultinomialNB()
# gb.fit(X_train,Y_train)
# y_test=gb.predict(dftest)

In [ ]:
# from xgboost import XGBClassifier
# from sklearn.model_selection import RandomizedSearchCV
# xgb = XGBClassifier(seed=45)
# param_grid_xgb = {'max_depth':[18,10,15], 'subsample':[0.4,0.6,0.8], 'learning_rate': [0.02,0.2,0.05],'n_estimators': [500, 1000,2000],'gamma':[0.5,0.8,0.2]}
# xgb_grid_r = RandomizedSearchCV(xgb, param_grid_xgb, scoring='roc_auc',cv = 5,verbose=1,n_jobs=-1)
# xgb_grid_r.fit(x_train,y_train)
# y_test = xgb_grid_r.predict(dftest)

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(x_train,y_train)
y_test = xgb.predict(dftest)

In [ ]:
len(y_test)

147635

In [ ]:
id = []

In [ ]:
type(id)

list

In [ ]:
for i in range(147635):
  id.append(i)

In [ ]:
df_pred = pd.DataFrame(id, columns = ['id'])

In [ ]:
df_pred['isFraud'] = y_test

In [ ]:
df_pred

            id  isFraud
0            0        1
1            1        1
2            2        0
3            3        0
4            4        0
...        ...      ...
147630  147630        0
147631  147631        0
147632  147632        0
147633  147633        0
147634  147634        1

[147635 rows x 2 columns]

In [ ]:
from google.colab import files
df_pred.to_csv('prediction.csv')
files.download('prediction.csv')